version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
- package-ecosystem: pip
  directory: "/requirements"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
