[run]
omit =
    *apps.py,
    *routing.py,
    *urls.py,
    *celery.py,
    *migrations/*,
    *settings*,
    *tests/*,
    *wsgi.py,
    manage.py,
    venv/*,
    env/*,
    ~/envs/bitcart/*
    *__init__.py
    
