[run]
source = .
omit =
    main.py,
    *apps.py,
    *routing.py,
    *urls.py,
    *celery.py,
    *migrations/*,
    *settings*,
    *tests/*,
    *wsgi.py,
    *tasks.py,
    manage.py,
    worker.py,
    venv/*,
    env/*,
    api/ext/update.py,
    *__init__.py
    
