#virtualenv
env/
venv
#old db
db.sqlite3
#cache
__pycache__/
#collected static and media
/static/
/media/
#python optimizations
*.pyo
*.pyc
#real config
.env
#vs code
.vscode/
#pytest
#backups
backups/
backup/
#locales,for now
locales/
#logs
debug.log
#docs builds
/docs/_build
/docs/_static
/docs/_templates
.idea/
#tests and coverage
.pytest_cache/
htmlcov/
.coverage
.mypy_cache
# CLI builds
bitcart-cli
bitcart-cli-*