# virtualenv
env/
venv
# cache
__pycache__/
# python optimizations
*.pyo
*.pyc
# real config
.env
# vs code
.vscode/
# backups
backups/
backup/
.idea/
# tests and coverage
.pytest_cache/
htmlcov/
.coverage
.mypy_cache
# CLI builds
bitcart-cli
bitcart-cli-*
# static
images/products/*.png
# message queue for processing maintenance commands
queue