#virtualenv
env/
#old db
db.sqlite3
#cache
__pycache__/
#collected static and media
/static/
/media/
#python optimizations
*.pyo
*.pyc
#real config
.env
#vs code
.vscode/
#pytest
pytest.ini
#backups
backups/
backup/
#locales,for now
locales/
#logs
debug.log
#migrations will be generated on client machines
migrations/
#docs builds
/docs/_build
/docs/_static
/docs/_templates