[tool.black]
line-length = 127

[tool.isort]
profile = "black"
line_length = 127
known_third_party = ["bitcart"]

[tool.pytest.ini_options]
addopts = [
    "-p",
    "xdist",
    "--cov=.",
    "--cov-report",
    "term-missing"
]
filterwarnings = [
    "error::DeprecationWarning",
    "error::PendingDeprecationWarning",
    "ignore:.*distutils package is deprecated.*:DeprecationWarning:aioredis", # TODO: remove when aioredis fixes this
    "ignore:There is no current event loop:DeprecationWarning"
]
norecursedirs = ["tests/functional"]

[tool.coverage.run]
source = ["."]
omit = [
    "main.py",
    "worker.py",
    "*alembic/*",
    "*settings*",
    "*tests/*",
    "venv/*",
    "env/*",
    "api/ext/update.py",
    "api/ext/configurator.py",
    "api/ext/backups.py",
    "api/logger.py",
    "api/logserver.py",
    "api/invoices.py",
    "api/tasks.py",
    "*__init__.py"
]
