[tool.black]
line-length = 127
preview = true

[tool.isort]
profile = "black"
line_length = 127
known_third_party = ["bitcart"]

[tool.pytest.ini_options]
addopts = [
    "-n",
    "auto",
    "--cov=.",
    "--cov-report",
    "term-missing"
]
filterwarnings = [
    "error::DeprecationWarning",
    "error::PendingDeprecationWarning",
    "ignore:.*'cgi' is deprecated.*:DeprecationWarning:httpx", # TODO: remove when a new httpx release is out
    "ignore:.*'crypt' is deprecated.*:DeprecationWarning:passlib", # TODO: passlib is no longer maintained?
]
norecursedirs = ["tests/functional"]

[tool.coverage.run]
source = ["."]
omit = [
    "main.py",
    "worker.py",
    "alembic/**",
    "settings/**",
    "tests/**",
    "plugins/**",
    "venv/**",
    "env/**",
    "api/ext/update.py",
    "api/ext/configurator.py",
    "api/ext/backups.py",
    "api/ext/shopify.py",
    "api/ext/payouts.py",
    "api/views/stores/integrations/shopify.py",
    "api/logger.py",
    "api/logserver.py",
    "api/invoices.py",
    "api/plugins.py",
    "api/tasks.py",
    "api/settings.py",
    "*__init__.py"
]
