django
celery
# .env file reading
python-decouple
# drf
django-rest-framework
# TODO probably remove this dependency
channels_rabbitmq
# websocket
channels
# 2FA
django-two-factor-auth
# easy forms
django-crispy-forms
# fast tables
djangorestframework-datatables
# postgres connector
psycopg2-binary
# bitcart-sdk
bitcart
# thumbnail creation, image field
Pillow
# built-in docs support, drf addons
markdown
django-filter
coreapi
# static files serving
whitenoise==4.1.2
