django==2.2
celery==4.3.0
# .env file reading
python-decouple==3.1
# drf
django-rest-framework==0.1.0
# TODO probably remove this dependency
channels_rabbitmq==0.0.11
# websocket
channels==2.2.0
# 2FA
django-two-factor-auth
# easy forms
django-crispy-forms
# fast tables
djangorestframework-datatables
# postgres connector
psycopg2-binary
# bitcart-sdk
bitcart
# thumbnail creation, image field
Pillow
# built-in docs support, drf addons
markdown
django-filter
coreapi
# static files serving
whitenoise
