version: 2.1

orbs:
  circle-compare-url: iynere/compare-url@1.2.0

jobs:
  test:
    parameters:
      v:
        type: string
        default: "3.6"
    docker:
      - image: circleci/python:<< parameters.v >>
      - image: circleci/redis:latest
      - image: circleci/postgres:9-alpine-ram
        environment:
          POSTGRES_DB: bitcart_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123@

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v9-dependencies-{{ checksum "requirements/web.txt" }}-{{ checksum "requirements/test.txt" }}-{{ checksum "requirements/daemons/btc.txt" }}-<< parameters.v >>
            # fallback to using the latest cache if no exact match is found
            - v9-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            sudo apt install libsecp256k1-dev
            pip install -U -r requirements.txt
            pip install -U -r requirements/daemons/btc.txt
            pip install -U -r requirements/test.txt

      - save_cache:
          paths:
            - ./venv
          key: v9-dependencies-{{ checksum "requirements/web.txt" }}-{{ checksum "requirements/test.txt" }}-{{ checksum "requirements/daemons/btc.txt" }}-<< parameters.v >>

      - run:
          name: prepare daemon
          command: |
            . venv/bin/activate
            BTC_DEBUG=true BTC_NETWORK=testnet python3 daemons/btc.py
          background: true

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            pytest --cov=.
            codecov

      - store_artifacts:
          path: test-reports
          destination: test-reports

  deploy:
    docker:
      - image: circleci/python:3.6.8
    working_directory: ~/repo
    steps:
      - checkout
      - circle-compare-url/reconstruct
      - run:
          name: set up build environment
          command: |
            git clone https://github.com/MrNaif2018/bitcart-docker
            cd bitcart-docker
            ./dev-setup.sh $CIRCLE_BRANCH
      - setup_remote_docker
      - circle-compare-url/use:
          step-name: Publish modified docker images
          custom-logic: |
            cd .circleci
            python3 build.py

  deploy_stable:
    docker:
      - image: circleci/python:3.6.8
    working_directory: ~/repo
    steps:
      - setup_remote_docker
      - run:
          name: retag and upload
          command: |
            docker login --username=$DOCKER_USER --password=$DOCKER_PASS
            docker pull mrnaif/bitcart:latest
            docker pull mrnaif/bitcart-btc:latest
            docker pull mrnaif/bitcart-bch:latest
            docker pull mrnaif/bitcart-ltc:latest
            docker pull mrnaif/bitcart-gzro:latest
            docker pull mrnaif/bitcart-bsty:latest
            docker tag mrnaif/bitcart:latest mrnaif/bitcart:stable
            docker tag mrnaif/bitcart-btc:latest mrnaif/bitcart-btc:stable
            docker tag mrnaif/bitcart-bch:latest mrnaif/bitcart-bch:stable
            docker tag mrnaif/bitcart-ltc:latest mrnaif/bitcart-ltc:stable
            docker tag mrnaif/bitcart-gzro:latest mrnaif/bitcart-gzro:stable
            docker tag mrnaif/bitcart-bsty:latest mrnaif/bitcart-bsty:stable
            docker push mrnaif/bitcart:stable
            docker push mrnaif/bitcart-btc:stable
            docker push mrnaif/bitcart-bch:stable
            docker push mrnaif/bitcart-ltc:stable
            docker push mrnaif/bitcart-gzro:stable
            docker push mrnaif/bitcart-bsty:stable

workflows:
  version: 2
  build_and_test:
    jobs:
      - test:
          name: test-<< matrix.v >>
          context: global
          matrix:
            parameters:
              v:
                - "3.6"
                - "3.7"
                - "3.8"
      - deploy:
          context: global
          requires:
            - test-3.6
            - test-3.7
            - test-3.8
          filters:
            branches:
              only: master
      - deploy_stable:
          context: global
          requires:
            - deploy
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[1-9]+(\.[0-9]+)*/
