version: 2.1

executors:
  main-executor:
    parameters:
      v:
        type: string
    docker:
      - image: cimg/python:<< parameters.v >>
      - image: circleci/redis:latest
      - image: circleci/postgres:9-alpine-ram
        environment:
          POSTGRES_DB: bitcart_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123@
    environment:
      TEST_ARGS: "--junitxml test-results/pytest/coverage.xml --cov-report html:coverage"

commands:
  install_dependencies:
    steps:
      - restore_cache:
          keys:
            - v38-dependencies-{{ .Branch }}-{{ checksum "~/.pyenv/version" }}-{{ checksum "requirements/web.txt" }}-{{ checksum "requirements/test.txt" }}-{{ checksum "requirements/daemons/btc.txt" }}

      - run:
          name: install dependencies
          command: |
            virtualenv ~/venv
            echo ". ~/venv/bin/activate" >> $BASH_ENV
            source $BASH_ENV
            sudo apt update
            sudo apt install libsecp256k1-dev
            pip install -U -r requirements.txt
            pip install -U -r requirements/daemons/btc.txt
            pip install -U -r requirements/test.txt

      - save_cache:
          paths:
            - ~/venv
          key: v38-dependencies-{{ .Branch }}-{{ checksum "~/.pyenv/version" }}-{{ checksum "requirements/web.txt" }}-{{ checksum "requirements/test.txt" }}-{{ checksum "requirements/daemons/btc.txt" }}

  upload-results:
    steps:
      - store_test_results:
          path: test-results

      - store_artifacts:
          path: coverage

      - store_artifacts:
          path: test-results

jobs:
  test:
    parameters:
      v:
        type: string
        default: "3.7"

    executor:
      name: main-executor
      v: << parameters.v >>

    environment:
      PYTHON: << parameters.v >>

    working_directory: ~/repo

    steps:
      - checkout

      - install_dependencies

      - run:
          name: prepare daemon
          command: |
            make testnet
          background: true

      - run:
          name: run tests
          command: |
            make ci
            codecov -F tests -e PYTHON

      - upload-results

  functional-tests:
    executor:
      name: main-executor
      v: "3.7"

    working_directory: ~/repo

    environment:
      BITCOIND_VERSION: 0.21.0

    steps:
      - checkout

      - run: echo $BITCOIND_VERSION > /tmp/bitcoind-version

      - restore_cache:
          keys:
            - v1-bitcoind-{{ checksum "/tmp/bitcoind-version" }}

      - install_dependencies

      - run:
          name: install regtest utils
          command: |
            mkdir -p ~/bitcoind && cd ~/bitcoind
            wget -N https://bitcoin.org/bin/bitcoin-core-$BITCOIND_VERSION/bitcoin-$BITCOIND_VERSION-x86_64-linux-gnu.tar.gz
            tar xzf bitcoin-$BITCOIND_VERSION-x86_64-linux-gnu.tar.gz
            sudo install -m 0755 -o root -g root -t /usr/local/bin bitcoin-$BITCOIND_VERSION/bin/*
            sudo apt install screen

      - save_cache:
          paths:
            - ~/bitcoind
          key: v1-bitcoind-{{ checksum "/tmp/bitcoind-version" }}

      - run:
          name: prepare bitcoind
          command: |
            make bitcoind
          background: true

      - run:
          name: prepare electrumx
          command: |
            make electrumx
          background: true

      - run:
          name: prepare regtest daemon
          command: |
            make regtest
          background: true

      - run:
          name: run tests
          command: |
            sleep 10s
            make functional
            codecov -F functional-tests

      - upload-results

  deploy:
    docker:
      - image: cimg/python:3.7
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: set up build environment
          command: |
            git clone https://github.com/bitcartcc/bitcart-docker
            cd bitcart-docker
            ./dev-setup.sh $CIRCLE_BRANCH
      - setup_remote_docker
      - run:
          name: Publish docker images
          command: |
            cd .circleci
            docker login --username=$DOCKER_USER --password=$DOCKER_PASS
            python3 build.py

workflows:
  version: 2
  build_and_test:
    jobs:
      - test:
          name: test-<< matrix.v >>
          matrix:
            parameters:
              v:
                - "3.7"
                - "3.8"
                - "3.9"
      - functional-tests:
          requires:
            - test
      - deploy:
          context: global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/
