version: 2.1

orbs:
  bitcartcc: bitcartcc/bitcartcc-shared@1

executors:
  main-executor:
    parameters:
      v:
        type: string
        default: "3.8"
    docker:
      - image: cimg/python:<< parameters.v >>
      - image: circleci/redis:alpine
      - image: circleci/postgres:12-alpine-ram
        environment:
          POSTGRES_DB: bitcart_test
          POSTGRES_HOST_AUTH_METHOD: trust
    environment:
      TEST_ARGS: "-o junit_family=xunit1 --junitxml test-results/pytest/coverage.xml --cov-report html:coverage"

commands:
  install_dependencies:
    steps:
      - restore_cache:
          keys:
            - v6-dependencies-{{ .Branch }}-{{ checksum "~/.pyenv/version" }}-{{ checksum "requirements/web.txt" }}-{{ checksum "requirements/test.txt" }}-{{ checksum "requirements/daemons/btc.txt" }}

      - run:
          name: install dependencies
          command: |
            virtualenv ~/venv
            echo ". ~/venv/bin/activate" >> $BASH_ENV
            source $BASH_ENV
            sudo apt update
            sudo apt install libsecp256k1-dev
            pip install -U -r requirements.txt
            pip install -U -r requirements/daemons/btc.txt
            pip install -U -r requirements/test.txt

      - save_cache:
          paths:
            - ~/venv
          key: v6-dependencies-{{ .Branch }}-{{ checksum "~/.pyenv/version" }}-{{ checksum "requirements/web.txt" }}-{{ checksum "requirements/test.txt" }}-{{ checksum "requirements/daemons/btc.txt" }}

      - run:
          name: prepare worker
          command: |
            make migrate
            python3 worker.py
          background: true

  install-lint-dependencies:
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-lint-dependencies-{{ .Branch }}-{{ checksum "~/.pyenv/version" }}-{{ checksum "requirements/dev.txt" }}-{{ checksum "requirements/lint.txt" }}

      - run:
          name: Install dependencies
          command: |
            virtualenv ~/venv
            echo ". ~/venv/bin/activate" >> $BASH_ENV
            source $BASH_ENV
            pip install -U -r requirements/dev.txt
            pip install -U -r requirements/lint.txt

      - save_cache:
          paths:
            - ~/venv
          key: v1-lint-dependencies-{{ .Branch }}-{{ checksum "~/.pyenv/version" }}-{{ checksum "requirements/dev.txt" }}-{{ checksum "requirements/lint.txt" }}

  run-lint:
    steps:
      - run:
          name: Check format and lint
          command: |
            make checkformat lint

  upload-results:
    steps:
      - store_test_results:
          path: test-results

      - store_artifacts:
          path: coverage

      - store_artifacts:
          path: test-results

  setup-bitcart-docker:
    steps:
      - run:
          name: Prepare bitcart-docker
          command: |
            git clone https://github.com/bitcartcc/bitcart-docker
            cd bitcart-docker
            ./dev-setup.sh $CIRCLE_BRANCH

  build-bitcart-images:
    steps:
      - checkout
      - setup-bitcart-docker
      - bitcartcc/login-to-dockerhub
      - bitcartcc/enable-buildx
      - run:
          name: Publish docker images
          command: |
            cd .circleci
            python3 build.py

jobs:
  test:
    parameters:
      v:
        type: string

    executor:
      name: main-executor
      v: << parameters.v >>

    parallelism: 4

    environment:
      PYTHON: << parameters.v >>

    working_directory: ~/repo

    steps:
      - checkout

      - install_dependencies

      - run:
          name: prepare daemon
          command: |
            make testnet
          background: true

      - run:
          name: run tests
          command: |
            TEST_FILES=$(find -name "test_*.py" -not -name "test_functional.py" | sed 's/.\///' | circleci tests split --split-by=timings)
            pytest -n 2 $TEST_ARGS $TEST_FILES
            codecov -F tests -e PYTHON

      - upload-results

  deploy-amd64:
    executor: bitcartcc/build-ubuntu

    working_directory: ~/repo

    environment:
      ARCH: amd64

    steps:
      - build-bitcart-images

  deploy-arm:
    executor: bitcartcc/build-ubuntu-arm

    working_directory: ~/repo

    environment:
      ARCH: arm

    steps:
      - build-bitcart-images

  deploy:
    executor: bitcartcc/build-ubuntu

    working_directory: ~/repo

    environment:
      MANIFEST: true

    steps:
      - build-bitcart-images

workflows:
  version: 2
  build_and_test:
    jobs:
      - bitcartcc/lint:
          name: lint
          pre-steps:
            - install-lint-dependencies
            - run-lint

      - test:
          name: test-<< matrix.v >>
          requires:
            - lint
          matrix:
            parameters:
              v:
                - "3.8"
                - "3.9"
                - "3.10"
                - "3.11"
      - bitcartcc/functional-tests:
          name: functional-tests
          executor: main-executor
          dependency-steps:
            - install_dependencies
          requires:
            - test
      - deploy-amd64:
          context: global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - deploy-arm:
          context: global
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/
      - deploy:
          context: global
          requires:
            - deploy-amd64
            - deploy-arm
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*/
