<!DOCTYPE html>
{% load static %}
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bitcart</title>
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    {% block head %}
    {% endblock head %}
    <link rel="icon" type="image/png" href="{% static 'gui/favicon.ico' %}">
    <link href="{% static 'gui/css/vendor.css' %}" rel="stylesheet">
    <link href="{% static 'gui/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'gui/css/style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'gui/js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    {% block head_last %}
    {% endblock head_last %}

</head>

<body id="page-top">

<div class="topbar-wrap">
    <div class="topbar is-sticky">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="topbar-nav d-lg-none">
                    <li class="topbar-nav-item relative">
                        <a class="toggle-nav" href="#">
                            <div class="toggle-icon"><span class="toggle-line"></span><span class="toggle-line"></span><span class="toggle-line"></span><span class="toggle-line"></span></div>
                        </a>
                    </li>
                    <!-- .topbar-nav-item -->
                </ul>
                <!-- .topbar-nav --><a class="topbar-logo" href="/"><img src="{% static 'gui/img/logo-light-sm.png' %}" alt="logo"></a>
                {% if user.is_authenticated and is_active %}
                <ul class="topbar-nav">
                    <li class="topbar-nav-item relative">
                        <span class="user-welcome d-none d-lg-inline-block">Welcome! {{request.user}}</span><a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                        <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                            <div class="user-status">
                                <h6 class="user-status-title">Important information</h6>
                                <div class="user-status-balance">Soon!</div>
                            </div>
                            <ul class="user-links">
                                <li><a href="{% url 'account_settings' %}"><i class="ti ti-id-badge"></i>My Profile</a></li>
                            </ul>
                            <ul class="user-links bg-light">
                                <li><a href="{% url 'logout' %}"><i class="ti ti-power-off"></i>Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- .topbar-nav-item -->
                </ul>
                <!-- .topbar-nav -->
                {% endif %}
            </div>
        </div>
        <!-- .container -->
    </div>
{% if user.is_authenticated and is_active %}
<div class="navbar">
    <div class="container">
        <div class="navbar-innr">
            <ul class="navbar-menu">
                <li class="{{main_active}}"><a href="{% url 'main' %}"><em class="ikon ikon-dashboard"></em> Dashboard</a></li>
                <li class="{{setting_active}}"><a href="{% url 'account_settings' %}"><em class="ikon ikon-coins"></em> Setting</a></li>
            </ul>
            <ul class="navbar-btns">
            </ul>
        </div>
        <!-- .navbar-innr -->
    </div>
    <!-- .container -->
</div>
{% endif %}
</div>
<div class="container">
{% if user.is_authenticated and is_active %}
<div class="row">
    <div class="col-lg-4">
        <div id="wallet-stats" class="token-statistics card card-token height-auto">
            <div class="card-innr">
                <div class="token-balance token-balance-with-icon">
                    <div class="token-balance-icon"><img src="{% static 'gui/img/logo-light-sm.png' %}" alt="logo"></div>
                    <div class="token-balance-text">
                        <h6 class="card-sub-title">Wallets Balance</h6>
                        <span class="lead">{{wallets_balance}} <span>BTC</span></span>
                    </div>
                </div>
                <div class="token-balance token-balance-s2">
                    <h6 class="card-sub-title">Total wallets connected:</h6>
                    <h6 class="lead">{{wallets_count}} WALLETS CONNECTED</h6>
                </div>
                <a href="{% url 'wallets' %}" class="btn btn-auto btn-primary btn-xs"><span>Details</span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="store-stats" class="token-statistics card card-token height-auto">
            <div class="card-innr">
                <div class="token-balance token-balance-with-icon">
                    <div class="token-balance-icon"><img src="{% static 'gui/img/logo-light-sm.png' %}" alt="logo"></div>
                    <div class="token-balance-text">
                        <h6 class="card-sub-title">Stores</h6>
                        <span class="lead">{{stores_count}}</span>
                    </div>
                </div>
                <div class="token-balance token-balance-s2">
                    <h6 class="card-sub-title">Total stores:</h6>
                    <h6 class="lead">{{stores_count}} STORES CREATED</h6>
                </div>
                <a href="{% url 'stores' %}" class="btn btn-auto btn-primary btn-xs"><span>Details</span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="products-stats" class="token-statistics card card-token height-auto">
            <div class="card-innr">
                <div class="token-balance token-balance-with-icon">
                    <div class="token-balance-icon"><img src="{% static 'gui/img/logo-light-sm.png' %}" alt="logo"></div>
                    <div class="token-balance-text">
                        <h6 class="card-sub-title">Total products</h6>
                        <span class="lead">{{products_count}}</span>
                    </div>
                </div>
                <div class="token-balance token-balance-s2">
                    <h6 class="card-sub-title">Total products created:</h6>
                    <h6 class="lead">{{products_count}} PRODUCT IN STORES</h6>
                </div>
                <a href="{% url 'products' %}" class="btn btn-auto btn-primary btn-xs"><span>Details</span></a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% block content %}
{% endblock content %}
</div>
<script type="text/javascript">
{% if wallets_active %}
var element1=$("#wallet-stats");
element1.addClass("bg-light");
element1.find(".lead").css("color","black");
{% endif %}
{% if stores_active %}
var element1=$("#store-stats");
element1.addClass("bg-light");
element1.find(".lead").css("color","black");
{% endif %}
{% if products_active %}
var element1=$("#products-stats");
element1.addClass("bg-light");
element1.find(".lead").css("color","black");
{% endif %}
</script>
{% block other_scripts %}
<script type="text/javascript" src="{% static "gui/js/script.js" %}"></script>
{% endblock other_scripts %}
{% block last_scripts %}
{% endblock last_scripts %}
</body></html>
