{% extends 'gui/base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Manage your account</h2>
                <hr class="primary">
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-md-3">

<div class="nav flex-column nav-pills">
    <a class="nav-link" href="{% url 'account_settings' %}">Profile</a>
    <a class="nav-link active" href="{% url 'change_password' %}">Password</a>
    <a class="nav-link" href="{% url 'two_factor:profile' %}">Two-factor authentication</a>
</div>

                </div>
                <div class="col-md-9">
                    
<h4>Change password</h4>


<div class="row">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
            <div class="form-group">
                <label for="id_old_password">Current password</label>
                {{form.old_password}}
                <span class="text-danger field-validation-valid" data-valmsg-for="id_old_password" data-valmsg-replace="true">{{form.old_password.errors}}</span>
            </div>
            <div class="form-group">
                <label for="id_new_password">New password</label>
                {{form.new_password}}
                <span class="text-danger field-validation-valid" data-valmsg-for="id_new_password" data-valmsg-replace="true">{{form.new_password.errors}}</span>
            </div>
            <div class="form-group">
                <label for="id_confirm_password">Confirm new password</label>
                {{form.confirm_password}}
                <span class="text-danger field-validation-valid" data-valmsg-for="id_confirm_password" data-valmsg-replace="true">{{form.confirm_password.errors}}</span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}