{% extends 'gui/base.html' %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Create a new store</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="/stores/create/" method="post">
                    {% csrf_token %}
                    <div class="form-group"><label for="id_name">Name*</label>{{form.name}}</div>
                    <button name="command" type="submit" class="btn btn-primary" value="Create">Create</button>
                </form>
                <a href="{% url 'stores' %}">Back to List</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
