{% extends 'gui/base.html' %}

{% block content %}
<div role="document" class="modal-dialog open opened">
    <div class="modal-content long">
        <div class="content">
            <div class="container">
            <div class="card-title text-center">Buy {{obj.title}}</div>
            <hr class="primary">
            <div class="text-center">
            </div>
            <div class="row">
                <div class="col">
                    <div class="spinner"></div>
                </div>
                <div class="col">
                    <p class="large">11:30</p>
                </div>
            </div>
            <p class="large">Status: <span id="product-status">{{obj.status}}</span><br>
            Amount: {{obj.amount}} BTC ~= {{usd_price}} USD<br>
            Quantity: {{obj.quantity}}
            </p>
            <p class="border">{{obj.description}}</p>
            <a class="btn btn-primary" href="{{obj.bitcoin_url}}">Pay</a><br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block last_scripts %}
<script type="text/javascript">
console.log("/i/"+"{{obj.id}}/status/ws");
var w=new WebSocket("ws://"+"{{request.get_host}}/i/"+"{{obj.id}}/status/ws/");
w.onmessage=function (data) {
    console.log(data);
    var got=JSON.parse(data.data);
    $("#product-status").text(got.status);
};
</script>
{% endblock last_scripts %}