{% extends 'gui/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card content-area">
            <div class="card-innr">
                <div class="card-head">
                    <h4 class="card-title">Products</h4>
                </div>
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div>
                        <table class="data-table dt-filter-init user-tnx dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr class="data-item data-head" role="row">
                                    <th class="data-col dt-store sorting_disabled" rowspan="1" colspan="1">Store Name</th>
                                    <th class="data-col dt-invoiceid sorting_disabled" rowspan="1" colspan="1">InvoiceId</th>
                                    <th class="data-col dt-status sorting_disabled" rowspan="1" colspan="1">Status</th>
                                    <th class="data-col dt-amount sorting_disabled" rowspan="1" colspan="1">Amount</th>
                                    <th class="data-col sorting_disabled" rowspan="1" colspan="1">
                                    <th class="data-col dt-actions sorting_disabled" rowspan="1" colspan="1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- .data-item --><!-- .data-item --><!-- .data-item --><!-- .data-item --><!-- .data-item --><!-- .data-item --><!-- .data-item --><!-- .data-item -->
                                {% for product in products%}
                                <tr class="data-item odd" role="row">
                                    <td class="data-col dt-store"><span class="lead token-amount">{{product.store.name}}</span><span class="sub sub-date">{{product.date}}</span></td>
                                    <td class="data-col dt-invoiceid"><span class="sub sub-date">{{product.id}}</span></td>
                                    <td class="data-col dt-status"><span class="tnx-type-md badge badge-outline badge-success badge-md">{{product.status}}</span></td>
                                    <td class="data-col dt-amount"><span class="sub sub-date">{{product.amount}}</span></td>
                                    <td class="data-col">
                                        <div class="relative d-inline-block d-md-none">
                                                <a href="#" class="btn btn-light-alt btn-xs btn-icon toggle-tigger"><em class="ti ti-more-alt"></em></a>
                                                <div class="toggle-class dropdown-content dropdown-content-center-left pd-2x">
                                                    <ul class="data-action-list">
                                                        <li><a href="#" class="btn btn-auto btn-primary btn-xs"><span>Pay <span class="d-none d-xl-inline-block">Now</span></span><em class="ti ti-wallet"></em></a></li>
                                                        <li><a href="#" class="btn btn-danger-alt btn-xs btn-icon"><em class="ti ti-trash"></em></a></li>
                                                    </ul>
                                                </div>
                                        </div>
                                        <ul class="data-action-list d-none d-md-inline-flex">
                                            <li><a href="{% url 'invoice_buy' invoice=product.id %}" class="btn btn-auto btn-primary btn-xs"><span>Pay <span class="d-none d-xl-inline-block">Now</span></span><em class="ti ti-wallet"></em></a></li>
                                        </ul>
                                    </td>
                                    <td class="data-col text-right">                              
                                    <a href="{% url 'product_info' product=product.id %}" class="btn btn-light-alt btn-xs btn-icon"><em class="ti ti-eye"></em></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <!-- .card-innr -->
        </div>
    </div>
</div>
{% endblock content%}
