{% extends 'gui/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
{% endblock head %}
{% block head_last %}
<script type="text/javascript">
let form=`{{form|crispy}}`;
let display_currency="BTC";
$(".on-change-save").onchange=function (data) {console.log(data);};
</script>
{% endblock head_last %}

{% block content %}
<div class="row no-gutter" style="margin-bottom: 5px;">
    <div class="col-lg-6">
        <button class="btn btn-primary" id="create-product-btn">Create a new product</button>

        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Export
        </a>
        <a href="#" target="_blank"></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" target="_blank" href="{% url 'product_export' %}?format=csv">CSV</a>
            <a class="dropdown-item" target="_blank" href="{% url 'product_export' %}?format=json">JSON</a>
        </div>
    </div>
</div>

<div class="card content-area">
    <div class="card-innr">
        <div class="card-head">
            <h4 class="card-title">Active Products</h4>
        </div>
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div>
                <table class="data-table user-tnx dataTable no-footer" id="DataTables_Table_0" role="grid"
                    aria-describedby="DataTables_Table_0_info">
                    <thead>
                        <tr class="data-item data-head" role="row">
                            <th class="data-col dt-id sorting_disabled" style="visibility:hidden;" rowspan="1" colspan="1">Id</th>
                            <th class="data-col dt-date sorting_disabled" rowspan="1" colspan="1">Date</th>
                            <th class="data-col dt-name sorting_disabled" rowspan="1" colspan="1">Product title</th>
                            <th class="data-col dt-price sorting_disabled" rowspan="1" colspan="1">Price</th>
                            <th class="data-col dt-status sorting_disabled" rowspan="1" colspan="1">Status</th>
                            <th class="data-col sorting_disabled" rowspan="1" colspan="1">
                            <th class="data-col dt-actions sorting_disabled" rowspan="1" colspan="1">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- .card-innr -->
</div>
<div class="card content-area">
        <div class="card-innr">
            <div class="card-head">
                <h4 class="card-title">Archived Products</h4>
            </div>
            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div>
                    <table class="data-table user-tnx dataTable no-footer" id="DataTables_Table_1" role="grid"
                        aria-describedby="DataTables_Table_1_info">
                        <thead>
                            <tr class="data-item data-head" role="row">
                                <th class="data-col dt-id sorting_disabled" style="visibility:hidden;" rowspan="1" colspan="1">Id</th>
                                <th class="data-col dt-date sorting_disabled" rowspan="1" colspan="1">Date</th>
                                <th class="data-col dt-name sorting_disabled" rowspan="1" colspan="1">Product title</th>
                                <th class="data-col dt-price sorting_disabled" rowspan="1" colspan="1">Price</th>
                                <th class="data-col dt-status sorting_disabled" rowspan="1" colspan="1">Status</th>
                                <th class="data-col sorting_disabled" rowspan="1" colspan="1">
                                <th class="data-col dt-actions sorting_disabled" rowspan="1" colspan="1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
        <!-- .card-innr -->
    </div>
{% endblock content %}

{% block last_scripts %}
<script type="text/javascript">
async function submit_select_data(el)
{
    let val=el.value;
    let id=$(el).closest("tr").find("td:nth-child(1)").text()
    let csrftoken = getCookie('csrftoken');
    await fetch("/api/v1/product/"+id+"/",{
    method: "patch",
    headers: {
        "Accept": "application/json",
        "Content-Type":"application/json",
        "X-CSRFToken":csrftoken
    },
    body: JSON.stringify({"status":val})
    }).then(function(r){console.log(r);});
    let dt1=$("#DataTables_Table_0").DataTable();
    let dt2=$("#DataTables_Table_1").DataTable();
    dt1.ajax.reload();
    dt2.ajax.reload();

}
//$(".on-change-save").on("change",function () {console.log("yy");});
let opts={
        processing: true,
        serverSide: true,
        sort:false,
        ordering: !1,
        autoWidth: !1,
        ajax: "/api/v1/product?format=datatables&status=active&currency="+display_currency,
        search: {"regex": true},
        language: 
            {
                search: "",
                searchPlaceholder: "Search",
        },
        deferRender: true,
        columns: [
            {"data":"id","className":"hidden"},
            {"data":"date","render":function (data) {return moment(data).format("MMMM DD YYYY HH:mm");}},
            {"data":"title"},
            {"data":"amount"},
            {"data":"status","render":function (data) {
                if (data == "active") 
                    return `
<select class="form-control" onchange="submit_select_data(this)">
<option selected>active</option>
<option>inactive</option>
</select>
`
                else
                return `
<select class="form-control" onchange="submit_select_data(this)">
<option>active</option>
<option selected>inactive</option>
</select>
`
}},
            {"data":null,"defaultContent":`<a href="#" class="btn btn-auto btn-primary btn-xs"><span>Pay <span
                                                            class="d-none d-xl-inline-block">Now</span></span><em class="ti ti-wallet"></em></a>`},
            {"data":null,"defaultContent":`<a href="#" class="btn btn-light-alt btn-xs btn-icon"><em
                                        class="ti ti-eye"></em></a>`}
        ]
    };

var F = $("#DataTables_Table_0");
if (F.length > 0) {
    var O = F.DataTable(opts);
}
opts["ajax"]="/api/v1/product?format=datatables&status=inactive&currency="+display_currency
var F = $("#DataTables_Table_1");
if (F.length > 0) {
    var O = F.DataTable(opts);
}
function pre_confirm()
{
    return [
            {% for field in form %}
            document.getElementById("{{field.auto_id}}").value,
            {% endfor %}
            ];
}
async function create_popup (title, form)
{
    const {value: got} = await Swal.fire({
            "title": title,
            "html": form,
            "focusConfirm": false,
            "preConfirm": pre_confirm
        });
    return got;
}
$("#create-product-btn").on("click", async function() 
{
let got=await create_popup('Create a product',form);
let names=[];
{% for field in form %}
names.push("{{field.name}}");
{% endfor %}
let to_send={};
for (let i = 0; i < names.length; i++) {
      to_send[names[i]]=got[i];
  }
let csrftoken = getCookie('csrftoken');
await fetch("/api/v1/product/",{
    method: "post",
    headers: {
        "Accept": "application/json",
        "Content-Type":"application/json",
        "X-CSRFToken":csrftoken
    },
    body: JSON.stringify(to_send)
}).then(async function (response)
{
    if (!(response.status >= 200 && response.status < 300))
        {console.log(response);return;}
        //return;  
    let data=await response.json();
    console.log(data);
    let to_save=[];
    console.log(names);
    let names2=["date","order_id","id","status","amount"];
    for (let key in data)
    {
        if (names2.includes(key))
            to_save.push(data[key]);
    }
    console.log(to_save);
    to_save.push(`<a href="/i/`+data["id"]+`/" class="btn btn-auto btn-primary btn-xs"><span>Pay
                                                <span class="d-none d-xl-inline-block">Now</span></span><em class="ti ti-wallet"></em></a>`);
    to_save.push(`<a href="/products/`+data["id"]+`/" class="btn btn-light-alt btn-xs btn-icon"><em class="ti ti-eye"></em></a>`);
    let dt=$("#DataTables_Table_0").DataTable();
    dt.ajax.reload();
}).catch(err => {
      if (err) throw err
    });
});
</script>
{% endblock last_scripts %}