{% extends 'gui/base.html' %}

{% block content %}
<div class="page-ath-form">
    <h2 class="page-ath-heading">Sign up</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-item"><input type="text" name="username" placeholder="Your Name" class="input-bordered"></div>
        <div class="input-item"><input type="text" name="email" placeholder="Your Email" class="input-bordered"></div>
        <div class="input-item"><input type="password" name="password" placeholder="Password" class="input-bordered"></div>
        <div class="input-item"><input type="password" name="confirm_password" placeholder="Repeat Password" class="input-bordered"></div>
        <button type="submit" class="btn btn-primary btn-block">Create Account</button>
    </form>
    <div class="gaps-2x"></div>
    <div class="form-note">Already have an account ? <a href="{% url 'login' %}"> <strong>Sign in instead</strong></a></div>
</div>
{% endblock content %}
