{% extends 'gui/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{% endblock head %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card content-area">
            <div class="card-innr">
                <div class="row">
                    <div class="col-lg">
                        <h1>Your active stores</h1>
                    </div>
                    <div class="col-lg text-right">
                        <button id="add-new-store" class="btn btn-primary btn-auto">Add new store</button>
                    </div>
                </div>
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div>
                    <table class="data-table user-tnx dataTable no-footer" id="DataTables_Table_0" role="grid"
                        aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr class="data-item data-head" role="row">
                                <th class="data-col dt-id sorting_disabled" rowspan="1" colspan="1"></th>
                                <th class="data-col dt-store sorting_disabled" rowspan="1" colspan="1">Store Name</th>
                                <th class="data-col dt-wallet sorting_disabled" rowspan="1" colspan="1">Store Wallet</th>
                                <th class="data-col dt-domain sorting_disabled" rowspan="1" colspan="1">Store Domain</th>
                                <th class="data-col dt-template sorting_disabled" rowspan="1" colspan="1">Store Template</th>
                                <th class="data-col dt-email sorting_disabled" rowspan="1" colspan="1">Store Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for store in stores.iterator %}
                            <tr class="data-item odd" role="row">
                                <td class="data-col dt-id"><span class="lead token-amount">{{store.id}}</span></td>
                                <td class="data-col dt-store"><span class="lead token-amount">{{store.name}}</span></td>
                                <td class="data-col dt-wallet"><span class="lead token-amount">{{store.wallet.name}}</span></td>
                                <td class="data-col dt-domain"><span class="lead token-amount">{{store.domain|default:'<button class="btn btn-set-domain btn-warning btn-auto bitcart-set-btn">SET</button>'}}</span></td>
                                <td class="data-col dt-template"><span class="lead token-amount">{{store.template|default:'<button class="btn btn-set-template btn-warning btn-auto bitcart-set-btn">SET</button>'}}</span></td>
                                <td class="data-col dt-email"><span class="lead token-amount">{{store.email|default:'<button class="btn btn-set-email btn-warning btn-auto bitcart-set-btn">SET</button>'}}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock content %}
{% block last_scripts %}
<script type="text/javascript">
$("#add-new-store").on('click', function() {send_data(this,["name","wallet","domain","template","email"],true)});
$(".btn-set-domain").on('click', function() {send_data(this, ["domain"])});
$(".btn-set-template").on('click', function() {send_data(this, ["template"])});
$(".btn-set-email").on('click', function() {send_data(this, ["email"])});
var F = $("#DataTables_Table_0");
if (F.length > 0) {
    var O = F.DataTable({
        ordering: !1,
        autoWidth: !1,
        dom: '<"row justify-content-between pdb-1x"<"col-9 col-sm-6 text-left"f><"col-3 text-right"<"data-table-filter relative d-inline-block">>><t><"row justify-content-between"<"col-sm-9 text-left"p><"col-sm-6 text-sm-right"i>>',
        pageLength: 5,
        bPaginate: true,
        iDisplayLength: 6,
        language: {
            search: "",
            searchPlaceholder: "Type in to Search",
            info: "_START_ -_END_ of _TOTAL_",
            infoEmpty: "No records",
            infoFiltered: "( Total _MAX_  )",
            paginate: {
                first: "First",
                last: "Last",
                next: "Next",
                previous: "Prev"
            }
        },
        columnDefs:
            [
            {targets:[0], visible:false}
            ]
    });
}
function pre_confirm()
    {
        return [
        $('#id_name').val(),
        $('#id_wallet').val(),
        $('#id_domain').val(),
        $('#id_template').val(),
        $('#id_email').val()
        ];
    }
async function send_data(obj,names, all=false) {
  if (!all)
  {
    var tr=$(obj).closest("tr");
    var dt=$("#DataTables_Table_0").DataTable();
    var id = $(dt.row(tr).data()[0]).text();
  }
  console.log("here");
  console.log(this);
  //console.log(event);
  console.log(obj);
  console.log($(obj));
  console.log($(obj).closest("tr"));
  console.log(id);
  const {value: got}= await Swal.fire({
  title: 'Create new store',
  html: `{{form|crispy}}`,
  focusConfirm: false,
  onBeforeOpen: function(dom)
    {
        console.log("yess");
        dom=$(dom);
        
        //console.log(dom.find("div[id^='div']"));
        dom.find("div[id^='div']").hide();
        //return;
        for (var i = 0; i < names.length; i++) {
            dom.find("#div_id_"+names[i]).show();
            //$('label[for="' + "id_"+names[i] + '"]').hide();
        }
        //console.log("yess");
        //console.log($(dom).find("#id_name").hide());
        //console.log($(dom).find("#id_name").hide());
        //var label = $('label[for="' + $(dom).find("#id_name").attr('id') + '"]');
        //console.log(label);
        //label.hide();
    },
  preConfirm: pre_confirm
  });
  var to_send={};
  a=["name","wallet","domain","template","email"];
  for (var i = 0; i < names.length; i++) {
      to_send[names[i]]=got[a.indexOf(names[i])];
      if (!all)
        tr[names[i]]=got[a.indexOf(names[i])];
  }
  //var to_send={"name":got[0],"wallet":got[1], "domain":got[2], "email":got[4]};
  var csrftoken = getCookie('csrftoken');
  //got=[id]+got;
  console.log(to_send);
  if (all)
    {
    var url="/stores/";
    var method="POST";
    }
  else
    {
    var url="/api/v1/store/"+id+"/";
    var method="PATCH";
    }
  console.log(url);
  $.ajax({
        type: method,
        url: url,
        // The key needs to match your method's input parameter (case-sensitive).
        data: JSON.stringify(to_send),
        contentType: "application/json; charset=utf-8",
        beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
        },
        dataType: "json",
        success:
            function(data)
                {
                    var dt=$("#DataTables_Table_0").DataTable();
                    //console.log(dt.update);
                    console.log(got);
                    console.log(data);
                    //console.log([id].concat(got));
                    if (all)
                        dt.row.add([data.id].concat(got)).draw(false);
                    else
                        {
                        //console.log(got)
                        var got2=[id].concat(got);
                        var data_got=dt.row(tr).data();
                        for (var i = 0; i < got2.length; i++)
                            {
                                if (!got2[i])
                                    got2[i]=$(data_got[i]).text();
                                    if (got2[i] == "SET")
                                        got2[i]="";
                            }
                        
                        dt.row(tr).data(got2);
                        }
                }
  });
}
</script>
{% endblock last_scripts %}