{% extends 'gui/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Manage wallet</h2>
        <hr class="primary">
    </div>
</div>

        <div class="col">
            <div class="card content-area">
                <div class="card-innr">
                    <div class="card-head">
                        <h4 class="card-title">Transactions</h4>
                    </div>
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div>
                            <table class="data-table dt-filter-init user-tnx dataTable no-footer" id="DataTables_Table_0" role="grid"
                                aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr class="data-item data-head" role="row">
                                        <th class="data-col dt-timestamp sorting_disabled" rowspan="1" colspan="1">Timestamp</th>
                                        <th class="data-col dt-txid sorting_disabled" rowspan="1" colspan="1">Transaction Id</th>
                                        <th class="data-col dt-balance sorting_disabled" rowspan="1" colspan="1">Balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- .data-item -->
                                    <!-- .data-item -->
                                    <!-- .data-item -->
                                    <!-- .data-item -->
                                    <!-- .data-item -->
                                    <!-- .data-item -->
                                    <!-- .data-item -->
                                    <!-- .data-item -->
                                    {% for tx in transactions %}
                                    <tr class="data-item odd" role="row">
                                        <td class="data-col dt-timestamp"><span class="lead token-amount">{{tx.date}}</span></td>
                                        <td class="data-col dt-txid"><span class="sub sub-date">{{tx.txid}}</span></td>
                                        <td class="data-col dt-balance"><span class="sub sub-date">{{tx.balance}}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- .card-innr -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}