{% extends 'gui/base.html' %}

{% block content %}
<div class="vh100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7 col-xl-6 text-center">
                <div class="error-content">
                    <span class="error-text-large">404</span>
                    <h4 class="text-dark">Opps! Why you’re here?</h4>
                    <p>We are very sorry for inconvenience. It looks like you’re try to access a page that either has been deleted or never existed.</p>
                    <a href="{% url 'main' %}" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}