Hello {{ email }}!

Here is your password reset code: {{ code }}

If you want, you can also verify by clicking: {{ link }}

This link is available for 1 hour only

If you did not request this link, please ignore this email.
