Welcome to our shop!
Thank you so much for your order!
Your summary is below:
{% for product in products %}
{{product}}
{% endfor %}
If you've got any questions, email us at {{store.email}}.
Best wishes, your {{store.name}}.
