*.log
*.pid
*.pid.lock
*.seed
*.swp
*.tgz
.DS_Store
.cache
.env
.eslintcache
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless
.vuepress/dist
.yarn-integrity
bower_components
build/Release
coverage
dist
jspm_packages/
lib-cov
logs
node_modules/
npm-debug.log*
pids
sw.*
typings/
yarn-debug.log*
yarn-error.log*
*.pyc
*.pyo
.coverage
.env
.idea/
.mypy_cache
.pytest_cache/
.vscode/
__pycache__/
env/
htmlcov/
venv
{{ .Name }}.bitcartcc
