{
  "$schema": "https://bitcartcc.com/schemas/plugin/1.1.0/plugin.schema.json",
  "name": "{{ .Name }}",
  "author": "{{ .Author }}",
  "version": "1.0.0",
  "description": "{{ .Description }}",
  "constraints": { "bitcartcc": "" },
  "installs": [
    {{ range $i,$el := .FinalTypes }}{ "type": "{{ $el.Type }}", "path": "{{ $el.Path }}" }{{ if not (IsLast $i (len $.FinalTypes)) }},{{ end }}
    {{ end }}
  ]
}
